<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- Settings 설정 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

<!--   TODO: 별칭 설정 -->
    <typeAliases>
        <typeAlias type="com.simplecoding.simpledms.vo.auth.Member" alias="Member"/>
        <typeAlias type="com.simplecoding.simpledms.vo.coupon.Coupon" alias="Coupon"/>
        <typeAlias type="com.simplecoding.simpledms.vo.recommend.Recommend" alias="Recommend"/>
        <typeAlias type="com.simplecoding.simpledms.vo.common.Criteria" alias="Criteria"/>
        <typeAlias type="com.simplecoding.simpledms.vo.main.Tour" alias="Tour"/>
        <typeAlias type="com.simplecoding.simpledms.vo.admin.Admin" alias="Admin"/>
        <typeAlias type="com.simplecoding.simpledms.vo.review.Review" alias="Review"/>
        <typeAlias type="com.simplecoding.simpledms.vo.room.Room" alias="Room"/>
        <typeAlias type="com.simplecoding.simpledms.vo.cart.Cart" alias="Cart"/>
        <typeAlias type="com.simplecoding.simpledms.vo.faq.Announce" alias="Announce"/>
        <typeAlias type="com.simplecoding.simpledms.vo.comments.Comments" alias="Comments"/>
        <typeAlias type="com.simplecoding.simpledms.vo.faq.Faq" alias="Faq"/>
        <typeAlias type="com.simplecoding.simpledms.vo.faq.Talk" alias="Talk"/>
        <typeAlias type="com.simplecoding.simpledms.vo.mypage.Mypage" alias="Mypage"/>




    </typeAliases>
</configuration>